.column {
  margin: 50px 0 0 0;
  float: left;
  width: 50%;
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

ul {
  padding-left: 0;
}

html {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  background-image: url('../images/background.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#chat-log {
  width: 500px;
}
