.column {
  margin: 50px 0 0 0;
  float: left;
  width: 50%;
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-image: url('../images/background.jpg');
  background-size: cover;
}

#chat-log {
  width: 500px;
}
