* {
    box-sizing: border-box;
    border: none;
}

html {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    background-image: url('../images/background.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#login_area{
    position: relative;
    left: 325px;
    top: 115px;
    border-radius: 15px;
    width: 1000px;
    height: 600px;
    background-color: #c90a0b;
}

#login_buttons{
    position: relative;
    top: 200px;
    right: 100px;
    left: 10px;
    margin: 5px;
    border-radius: 40px;
    height: 40px;
    width: 500px;
    background-color: #171f25;
    font-weight: bold;
}

#login_buttons:hover{
    background-color: #090f13;
}

#login_info{
    position: relative;
    left: 10px; 
    top: 200px;
    margin: 5px;
    width: 475px;
    height: 40px;
    border-radius: 40px;
    padding-left: 25px;
}

#login_error{
    font-weight: bold;
}

#info_area{
    position: relative;
    left: 860px;
    bottom: 515px;
    background-color: #752e2b;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    height: 600px;
    width: 500px;
}

#subscribe_text{
    position: relative;
    top: 260px;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}

#footer{
    position: relative;
    background-color: #171f25;
    width: 100%;
    height: 150px;
}

