/*geral*/
* {
    box-sizing: border-box;
    border: none;
}

#password {
    background: white;
}

#username {
    background: white;
}

#login_container{
    background-color: white;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
}

form {
    margin-top: 30px;
    margin-bottom: 40px;
}

label, input {
    display: block;
    width: 100%;
    text-align: left;
}

label {
    font-weight: bold;
    font-size: 20px;
}

input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}

input:focus {
    border-bottom: 2px solid #08558b;
}

#create_account {
    font-size: 19px;
    color: blue;
}

link {
    font-size: 19px;
}

input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: white;
    background-color: #08558b;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1b223c;
    transition: .2s;
}

body {
    background-image: url('../images/background.jpg');
    background-size: cover;
}
