html {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    background-image: url('../images/background.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.centralize {
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 20%;
}
