{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/charselect.css' %}">
    <title>Document</title>
</head>
<body>
    {% if charList %}
    <form action="{% url 'room' %}" method="post">
        {% csrf_token %}
        <label for="room-name">Sala:</label>
        <input type="text" name="room-name" id="room-name" placeholder="Nome da sala">
        <br>
        {% for character in charList %}
            <input type="radio" name="choice" id="{{ character.character_name }}" value="{{ character.character_name }}">
            <label for="{{ character.character_name }}">{{ character.character_name }}</label>
            <br>
        {% endfor %}
        <input type="submit" value="Entrar">
    </form>
    {% endif %}

    <button id="toggle">criar personagem</button>
    <a href="{% url 'logout' %}"><button>logout</button></a>
    <div id="hiddenDiv" style="display: none;">
        <form action="{% url 'createChar' %}" method="post">
            {% csrf_token %}
            <input type="text" id="charName" name="charName" placeholder="Nome do personagem">
            <input type="submit" value="criar">
        </form>
    </div>
    <script src="{% static 'js/charSelect.js' %}"></script>
</body>
</html>