{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <title>Sala</title>
</head>

<body>
<div class="row">
    <div class="column">
        <h2>Nome do personagem: {{ character.character_name }}</h2>
        <input type="hidden" id="static_character_name" value="{{ character.character_name }}">
        <ul>
            {% for skill in skills %}
            <li>{{ skill.skill_name }}</li>
            <button id="{{ skill.skill_name }}" value="{{ skill.results }}" onclick="send_skill_results(this.id, this.value)">Rolar</button>
            <input type="hidden" name="static_character_name" id="static_character_name" value="{{ character.character_name }}">
            {% endfor %}
        </ul>
        <br>
        <button id="toggle">Editar</button>
        <br><br>
        <a href="{% url 'select' %}"><button>Selecionar personagem</button></a>
        <a href="{% url 'logout' %}"><button>logout</button></a>
        <div id="hiddenDiv" style="display: none;">
            <ul>
                {% for skill in skills %}
                    <li>
                        <form action="{% url 'editSkill' %}" method="post">
                            {% csrf_token %}
                            <p>{{ skill.skill_name }}</p>
                            <input type="hidden" name="static_character_name" id="static_character_name" value="{{ character.character_name }}">
                            <input type="hidden" name="skill" value="{{ skill.skill_name }}">
                            <input type="text" name="new_result" id="new_result" placeholder="{{ skill.results }}">
                            <input type="submit" value="salvar">
                        </form>
                        <form action="{% url 'deleteSkill' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="static_character_name" id="static_character_name" value="{{ character.character_name }}">
                            <input type="hidden" name="skill" value="{{ skill.skill_name }}">
                            <input type="submit" value="deletar skill">
                        </form>
                    </li>
                {% endfor %}
                <li>
                    <form action="{% url 'createSkill' %}" method="post">
                        {% csrf_token %}
                        <p>criar nova skill</p>
                        <input type="hidden" name="static_character_name" id="static_character_name" value="{{ character.character_name }}">
                        <input type="text" name="skill_name" id="skill_name" placeholder="nome da skill">
                        <input type="text" name="results" id="results" placeholder="valores">
                        <input type="submit" value="criar">
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div class="column">
        <textarea id="chat-log" cols="60" rows="20"></textarea>
        <input id="chat-message-input" type="text" size="50">
        <input id="chat-message-submit" type="button" value="Enviar">
        {{ room_name|json_script:"room-name" }}
        <script src="{% static 'js/index.js' %}"></script>
    </div>
  </div>
</body>
</html>
