{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/registerComplete.css' %}">
    <title>Bem-vindo!</title>
</head>
<body>
    <div class="centralize">
        <h1>Registro completo!</h1>
        <p>Seja bem-vindo</p>
        <button><a href="{% url 'login' %}">Logar</a></button>
    </div>
</body>
</html>